* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 80px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

main form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main img {
  height: 500px;
}

main input {
  width: 40%;
}

main div {
  display: flex;
}

#divFamily {
  display: flex;
  flex-direction: column;
}

.divCheckbox input {
  width: 15px;
}

#divFamily input {
  width: 15px;
}

#divCheckbox {
  display: flex;
  flex-wrap: wrap;
}

.divLabel {
  display: flex;
  flex-direction: column;
  width: 40%;
}

main section {
  display: flex;
}
