* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

header img {
  width: 80px;
}

.trybewarts-login {
  display: flex;
  padding-right: 50px;
}

.trybewarts-login input {
  margin-right: 30px;
  height: 35px;
  border-style: none;
}

header h1 {
  color: aliceblue;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main img {
  height: 500px;
}

main div {
  display: flex;
}

#divFamily {
  display: flex;
  flex-direction: column;
}

.divCheckbox input {
  width: 15px;
}

#divFamily input {
  width: 15px;
}

#divCheckbox {
  display: flex;
  flex-wrap: wrap;
}

.divLabel {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
}

main section {
  display: flex;
}

.divTextArea {
  display: flex;
  flex-direction: column;
}

form h1 {
  text-align: center;
  padding: 30px;
}

.familyChange {
  margin-top: 20px;
  width: 50%;
}

.divLabel span {
  margin-top: 3px;
  margin-right: 20px;
}

.counterEnd {
  display: flex;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: center;
}

.avaibleChange {
  margin-right: 6%;
  font-size: 20px;
}

.fullName {
  margin-right: 3%;
}

.houseName {
  display: flex;
  align-items: center;
  font-size: 23px;
}

.spanNote {
  margin-right: 8px;
}

.textarea {
  font-size: 20px;
}

.labelKnow {
  font-size: 23px;
}

#label-family {
  font-size: 23px;
}

.textareaedit {
  border-style: none;
  border: 2px solid rgb(50, 167, 145);
  border-radius: 2%;
}
